body {
    font-family: Arial, sans-serif;
    background-color: #edcaf5;
    color: #683a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    background-color: white;
}
.bouton{
    border-radius: 20px;
}
